.schema__items {
  margin: 0;
  padding: 30px 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px 12px;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .schema__items {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 12px 12px;
  }
}
