.schema {
  width: 100%;
  max-width: 1024px;
  margin: 0;
  padding: 50px 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .schema {
    padding: 30px 16px;
  }
}
