.group {
  width: 100%;
  margin: 0;
  padding: 50px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 5px 10px lightgray;

}

@media screen and (max-width: 767px) {
  .group {
    padding: 30px 16px;
  }
}
