.digits__cards {
  width: 100%;
  margin: 0;
  padding: 30px 16px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}
