.group__content {
  width: 100%;
  max-width: 1024px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .group__content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }


}
