.schema__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 200px;
  min-height: 150px;
  box-sizing: border-box;
  padding: 20px 20px;
  border: 4px solid rgb(128, 208, 245);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .schema__item {
    padding: 10px 10px;
  }
}
