.header__content {
  width: 100%;
  max-width: 1024px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .header__content {
    padding: 8px 16px;
  }
}
