.services__content {
  width: 100%;
  margin: 0;
  padding: 50px 16px 0 16px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

}

@media screen and (max-width: 767px) {
  .services__content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 16px;

  }

}
