.button {
  min-width: 300px;
  margin:0;
  padding: 10px 16px;
  box-sizing: border-box;

  background-color: rgb(128, 208, 245);
  border-radius: 30px;
  border: 2px;
  border-color: brown;
  text-align: center;
  text-decoration: none;
  color: white;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -2px;
  text-transform: uppercase;

  transition: transform 0.3s linear, background-color 0.3s linear;
}

.button:hover {
  transform: scale(1.05);
  background-color: rgb(120, 191, 224);
}

@media screen and (max-width: 767px) {
  .button {
    min-width: 150px;
    font-size: 20px;

  }


}
